<div class="col-md-6">
    <h1>{{wikiInformation[0].title}}</h1>
    <table class="table">
        <tbody>
        <tr>
            <td>Abstract</td>
            <td>{{wikiInformation[0].abstract}}</td>
        </tr>
        <tr>
            <td>URL</td>
            <td>{{wikiInformation[0].url}}</td>
        </tr>
        <tr>
            <td>Link (count:{{wikiInformation[0].links.length}})</td>
            <td>
                <table class="table">
                    <tbody>
                    <tr ng-repeat="item in wikiInformation[0].links">
                        <td> {{item}}</td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>Headings (count:{{wikiInformation[0].headings.length}})</td>
            <td>
                <table class="table" border="1">
                    <thead>
                    <tr>
                        <td><a href="" ng-click="predicate = 'position'; reverse=!reverse"><b>Position</b></a></td>
                        <td><a href="" ng-click="predicate = 'heading'; reverse=!reverse"><b>Heading</b></a></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in wikiInformation[0].headings | orderBy:predicate:reverse">
                        <td> {{item.position}}</td>
                        <td> {{item.heading}}</td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>Categories (count:{{wikiInformation[0].categories.length}})</td>
            <td>
                <table class="table">
                    <tbody>
                    <tr ng-repeat="item in wikiInformation[0].categories">
                        <td> {{item}}</td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="form-group">
        <input type=button onClick="parent.location='#/viewWiki'" value='<<BACK' class="btn btn-primary">
    </div>
</div>