p(style="color: red") We hate jade, therefore we will use HTML, thanks <3
p(style="color: blue") Welcome to our fancy project So lets explain what is working in our project and what is not:
p(style="color: green") Green == done
p(style="color: red") Red == !done
li
    b
        div(style="color: green") Part 1 :
    ul
        li(style="color: green") MEAN Stack
        li(style="color: green") Implementation of Data layer with the specified interface + additional method : getAllWikis
        li(style="color: green") Mocka-Backend-Testing
li
    b
        div(style="color: green") Part 2 :
    ul
        li(style="color: green") SPA
        li(style="color: green") Title and abstract logic in "TitlesPedia" with angular search input
        li(style="color: green") Additional: The abstract pops up when the mouse clicks on the title
        ul
            li Sligtly different logic from the assingment^
        li(style="color: green") Additional : Usage of "Accordion" (Angular-boostrap)
        ul
            li Therefore we are not using encapsulation in Directives^
        li(style="color: green") Additional : Fancy Wiki Details menu with tables,loops,angular and clickable links (check it out ;)
        li(style="color: green") Redirection to Wikipedia (boring)
        li(style="color: green") Karma-Frontend-Testing (only few tests works because bootstrap gave a module error)
li
    b
        div(style="color: green") Part 3 :
    ul
        li(style="color: green") Menu for Categories, which shows all titles with angular search input
        li(style="color: green") Alphabet for sorting which refreshes the already created list with additional functionality for Numbers and ALL
        li(style="color: red") The Alphabet is not scrolling the page down and it's not fixed on the top.
li
    b
        div(style="color: green") Part 4 :
    ul
        li(style="color: red") No redirection
        ul
            li (Sounds boring + it's written in an unclear way and it's confusing)
        li(style="color: green") Add new wiki
        ul
            li (100% working and tested backend, but not fully working fronted because of lists inside objects)
        li(style="color: green") Additional: Fixed title pages with paginate, so it won't display all 15k
        li(style="color: red") Screen scrape the Wikipedia page